.posts {
    margin-top: 10px;
}

.posts .page-link, .posts .dropdown-toggle, .posts .active{
    border-color: black !important;
    background-color: lightgray !important;
    color: black !important;
}

.posts .expand-cell-header{
    background-color: black !important;
    color: white !important;
}

.posts .react-bootstrap-table{
    border: 3px solid darkgray !important;
    margin: 3px !important;
    padding: 3px !important;
}